<ion-header>
  <ion-navbar>
    <ion-title>{{"identity-verification.title" | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding #content>
  <form [formGroup]="mainForm" (ngSubmit)="mainForm.valid && submit()">
    <ion-card>
      <ion-card-header>
        <ion-label text-center color="primary">{{"identity-verification-address.slideTitle" | translate}}</ion-label>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-label floating>{{'identity-verification-address.countryCode' | translate}}</ion-label>
            <ion-select formControlName="countryCode" (ionChange)="onCountrySelected($event)">
              <ion-option [value]="c" *ngFor="let c of countries">
                {{c.name}}
              </ion-option>
            </ion-select>
          </ion-item>
          <ion-item *ngIf="showLocationField('BuildingNumber')">
            <ion-label floating>{{'identity-verification-address.buildingNumber' | translate}}</ion-label>
            <ion-input type="text" [(ngModel)]="l.BuildingNumber" formControlName="buildingNumber"></ion-input>
          </ion-item>
          <ion-item *ngIf="showLocationField('StreetName')">
            <ion-label floating>{{'identity-verification-address.streetName' | translate}}</ion-label>
            <ion-input type="text" [(ngModel)]="l.StreetName" formControlName="streetName"></ion-input>
          </ion-item>
          <ion-item *ngIf="showLocationField('StreetType')">
            <ion-label floating>{{'identity-verification-address.streetType' | translate}}</ion-label>
            <ion-select [(ngModel)]="l.StreetType" formControlName="streetType">
              <ion-option [value]="s.value" *ngFor="let s of streetTypes">{{s.name}}</ion-option>
            </ion-select>
          </ion-item>
          <ion-item *ngIf="showLocationField('UnitNumber')">
            <ion-label floating>{{'identity-verification-address.unitNumber' | translate}}</ion-label>
            <ion-input type="text" [(ngModel)]="l.UnitNumber" formControlName="unitNumber"></ion-input>
          </ion-item>
          <ion-item *ngIf="showLocationField('BuildingName')">
            <ion-label floating>{{'identity-verification-address.buildingName' | translate}}</ion-label>
            <ion-input type="text" [(ngModel)]="l.BuildingName" formControlName="buildingName"></ion-input>
          </ion-item>
          <ion-item *ngIf="showLocationField('Address1')">
            <ion-label floating>{{'identity-verification-address.address1' | translate}}</ion-label>
            <ion-input type="text" [(ngModel)]="l.Address1" formControlName="address1"></ion-input>
          </ion-item>
          <ion-item *ngIf="showLocationField('City')">
            <ion-label floating>{{'identity-verification-address.city' | translate}}</ion-label>
            <ion-input type="text" [(ngModel)]="l.City" formControlName="city"></ion-input>
          </ion-item>
          <ion-item *ngIf="showLocationField('Suburb')">
            <ion-label floating>{{'identity-verification-address.suburb' | translate}}</ion-label>
            <ion-input type="text" [(ngModel)]="l.Suburb" formControlName="suburb"></ion-input>
          </ion-item>
          <ion-item *ngIf="showLocationField('StateProvinceCode')">
            <ion-label floating>{{'identity-verification-address.stateProvinceCode' | translate}}</ion-label>
            <ion-select *ngIf="states && states.length > 0" (ionChange)="onStateSelected($event)" formControlName="stateProvinceCode">
              <ion-option [value]="s" *ngFor="let s of states">{{s.name}}</ion-option>
            </ion-select>
            <ion-input *ngIf="states && states.length == 0"
              type="text" [(ngModel)]="l.StateProvinceCode" formControlName="stateProvinceCode"></ion-input>
          </ion-item>
          <ion-item *ngIf="showLocationField('PostalCode')">
            <ion-label floating>{{'identity-verification-address.postalCode' | translate}}</ion-label>
            <ion-input type="text" [(ngModel)]="l.PostalCode" formControlName="postalCode"></ion-input>
          </ion-item>
        </ion-list>
      </ion-card-content>
      <ion-item class="footer-card">
        <button ion-button item-right clear [disabled]="!mainForm.valid" icon-right>
              {{"continue" | translate}}
              <ion-icon name="arrow-forward"></ion-icon>
            </button>
      </ion-item>
    </ion-card>

  </form>
</ion-content>
<ion-footer [keyboardAttach]="content">

</ion-footer>
