.identity-verification-address {}

identity-verification-address-page {
  ion-card-header {
    background-color: #f8f8f8;
    padding: 0px;
  }

  ion-item {
    padding-left: 0;
  }

  .footer-card {
    background-color: #f8f8f8;
  }

  .card-md .item-md.item-block .item-inner {
    border-bottom: 1px solid #dedede;
  }
}
