.transactions-page {


  .transactions-tab-nav ion-segment-button span {
    margin-top: -5px;
  }
  .transactions-tab-nav ion-segment-button {
    background-color: #e4e7e8;
    border: none;
    height: 61px;
    padding-top: 8px;
    border-bottom: 1px solid #ddd !important;
  }

  .transactions-tab-nav ion-segment-button .tab-buttons {
    display: flex;
    overflow: hidden;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
  }
}

.transactions {
  scroll-content {
    overflow-y: visible;
  }

  ion-navbar-section {
    display: none;
  }
}


.ios .segment-activated {
  color: #3aade2 !important;
  position: relative;
  background-color: #d6dadc !important;
}

.transaction-filter-top {
  background-color: #e4e7e8;
  padding: 10px 24px 25px;
}

.transaction-filter-top .filter-box {
  position: relative;
  overflow: hidden;
  padding: 10px;
}
/*.transaction-filter-top .filter-btns .item.item-radio{*/
/*font-size: 8px;*/
/*color: #ffffff;*/
/*background-color: transparent;*/
/*border: 1px solid #ffffff;*/
/*border-radius: 10px;*/
/*}*/
/*.transaction-filter-top .filter-btns .item.item-radio .radio-content{*/
/*background-color: transparent;*/
/*}*/
.transaction-filter-top .filter-btns {
  text-align: center;
  line-height: 1em;
  padding-bottom: 1px;
  margin: 0 -5px;
}

.transaction-filter-top .filter-btns .button.button-outline {
  font-size: 8px;
  line-height: 1.4;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 10px;
  padding: 1px 5px 2px;
  margin: 0 1px 4px;
  min-height: 16px;
  min-width: 0;
  height: 16px;
}

.transaction-filter-top .filter-btns .button.button-outline.activated,
.transaction-filter-top .filter-btns .button.button-outline.active,
.transaction-filter-top .filter-btns .button.button-outline:focus {
  background-color: rgba(0, 0, 0, 0.15);
  border-color: rgba(0, 0, 0, 0.15);
}

.transaction-filter-top .total-ur {
  font-size: 24px;
  font-weight: 300;
  color: #ffffff;
  line-height: 1.4em;
}

.transaction-filter-top .last-update {
  font-size: 10px;
  color: rgba(256, 256, 256, 0.6);
  line-height: 1.4em;
  margin: 0 0 10px;
}

.transaction-filter-top .last-update ion-icon {
  margin-right: 3px;
  color: rgba(256, 256, 256, 1);
}

.transaction-filter-top .invite-and-earn {
  position: absolute;
  background-color: #fa4c44;
  font-size: 1rem;
  line-height: 1.1;
  color: #d0d0d0;
  right: -57px;
  bottom: 0px;
  text-align: center;
  width: 50%;
  padding-right: 55px;
  padding-top: 10px;
  border-radius: 59% 70% 20% 80%;

  p {
    color: #d0d0d0;
    margin: 0 3px 10px;
  }
}

.transaction-filter-top .invite-and-earn .button {
  font-size: 1.1rem;
  line-height: 1em;
  min-height: 20px;
  width: 50px;
  border: 1px solid #ffffff;
  height: 20px;
  border-color: #ddd;
  background: transparent;
  color: #ddd;
  margin-top: -8px;
  margin-left: 20px;
}

.transaction-earned .has-tabs-top,
.transaction-received .has-tabs-top,
.transaction-sent .has-tabs-top {
  top: 120px;
  background-color: #dedede;
}

.transaction-sent .transaction-filter-top .total-ur:after {
  font-size: 11px;
  font-weight: 600;
}

.transaction-received .transaction-filter-top .total-ur:after {
  font-size: 11px;
  font-weight: 600;
}

.transaction-earned .transaction-filter-top .total-ur:after {
  font-size: 11px;
  font-weight: 600;
}

.transaction-sent .filter-box {
  background-color: #eb3f97;
}

.transaction-received .filter-box {
  background-color: #3aade2;
}

.transaction-earned .filter-box {
  background-color: #ef3f37;
}

.transaction-all .filter-box {
  background-color: #d8ad1e;
}
/*---------------------------------*/
.transaction-chat {
  background-color: #dedede;
  padding: 13px;
}

.transaction-chat .card {
  border-radius: 5px;
  margin: 0 10px 7px;
  padding-top: 1px;
  padding-bottom: 1px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.transaction-chat .item {
  min-height: 72px;
  border-radius: 5px;
  border-radius: 5px;

  .input-wrapper {
    border-right: 1px solid #dedede;
  }

  .item-inner {
    border-bottom: none;
    padding-right: 0;
  }
}

.transaction-chat .item img {
  left: 7px;
}

.transaction-chat .item h2 {
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: capitalize;
  color: #38454f;
}

.transaction-chat .item h2 .item-date-time {
  font-size: 1.1rem;
  font-weight: 500;
  text-transform: none;
  color: #b0b0b0;
  line-height: 15px;
  margin-left: 8px;
}

.transaction-chat .item p {
  font-size: 1.3rem;
  line-height: 1.3em;
  color: #546a79;
}

.transaction-chat .item p .transaction-filter-earned{
  color: #ef3f37;
  text-transform: uppercase;
}
.transaction-chat .item p .transaction-filter-sent{
  color: #eb3f97;
  text-transform: uppercase;
}
.transaction-chat .item p .transaction-filter-received{
  color: #3aade2;
  text-transform: uppercase;
}

.transaction-chat .trans-ur {
  font-size: 1.5rem;
  font-weight: 600;
  color: #38454f;
  padding-left: 8px;
  margin: 8px 11px 8px 0;
  text-align: center;
}
