about-page {

    /*-----------------------------------------
    about us Screen
-------------------------------------------*/
    .about-us {
        background: rgba(241, 241, 241, 1);
        border-color: rgba(241, 241, 241, 1);
        background: -moz-radial-gradient(center, ellipse cover, rgba(241, 241, 241, 1) 0%, rgba(196, 202, 206, 1) 100%);
        background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(241, 241, 241, 1)), color-stop(100%, rgba(196, 202, 206, 1)));
        background: -webkit-radial-gradient(center, ellipse cover, rgba(241, 241, 241, 1) 0%, rgba(196, 202, 206, 1) 100%);
        background: -o-radial-gradient(center, ellipse cover, rgba(241, 241, 241, 1) 0%, rgba(196, 202, 206, 1) 100%);
        background: -ms-radial-gradient(center, ellipse cover, rgba(241, 241, 241, 1) 0%, rgba(196, 202, 206, 1) 100%);
        background: radial-gradient(ellipse at center, rgba(241, 241, 241, 1) 0%, rgba(196, 202, 206, 1) 100%);
    }
    .about-us .ur-logo {
        text-align: center;
        padding: 15px 0 25px;
    }
    .about-us .ur-logo img {
        max-width: 100%;
    }
    .about-text {
        padding: 0 20px;
    }
    .about-text .heading {
        margin-bottom: 20px;
        font-size: 26px;
        font-weight: 300;
        color: #323232;
        text-align: center;
    }
    .about-text p {
        font-size: 1.4rem;
        font-weight: 500;
        color: #676767;
    }
    .about-text a {
        font-size: 1.4rem;
    }
}
