.contacts-and-chats-page {
  .toolbar {
    padding: 0;
  }
}

.ion-ios-block-person-icon {
  content: url("../../img/block-person-md.png");
}

.ion-md-block-person-icon {
  content: url("../../img/block-person-md.png");
  width: 24px;
  height: 24px;
}

.contacts-and-chats-page {
  scroll-content {
    overflow-y: visible;
    padding: 0;
  }

  .ion-ios-add-person-icon {
    content: url("../../img/add-person-icon.png");
  }

  .ion-md-add-person-icon {
    content: url("../../img/add-person-icon.png");
  }

  .ion-ios-contacts-icon {
    content: url("../../img/contacts-icon-active.png");
  }

  .ion-md-contacts-icon {
    content: url("../../img/contacts-icon-active.png");
    width: 24px;
    height: 24px;
  }

  .ion-ios-contacts-icon-on-outline {
    background: url("../../img/contacts-icon.png") no-repeat center;
  }

  .ion-ios-chats-icon {
    content: url("../../img/chats-icon-active.png");
  }

  .ion-md-chats-icon {
    content: url("../../img/chats-icon-active.png");
    width: 24px;
    height: 24px;
  }

  .ion-ios-chats-icon-on-outline {
    background: url("../../img/chats-icon.png") no-repeat center;
  }

  .segment-tab-nav ion-segment-button span {
    margin-top: -7px;
  }

  .segment-tab-nav ion-segment-button {
    background-color: #e4e7e8;
    border: none;
    border-bottom: 1px solid #ddd !important;
    height: 66px;
    padding-top: 17px;
  }

  .segment-tab-nav ion-segment-button .tab-buttons {
    display: flex;
    overflow: hidden;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
  }
}

.chats-list,
.contacts-list {
  margin: -1px 0 8px;
}

.chats-list .item.item-avatar,
.contacts-list .item.item-avatar {
  min-height: 85px;
  border-bottom: 1px solid #ddd;

  .item-inner {
    border-bottom: none;
  }
}

.chats-list .item.item-avatar img,
.contacts-list .item.item-avatar img {
  max-width: 55px;
  max-height: 55px;
  border-radius: 50%;
}

.chats-list .item h2,
.contacts-list .item h2 {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 1.8rem;
  color: #546a79;
}

.chats-list .item p,
.contacts-list .item p {
  font-size: 1.4rem;
  color: #98a6af;
}

.chats-list .item-note,
.contacts-list .item-note {
  position: absolute;
  top: 25px;
  right: 20px;
  font-size: 1.2rem;
}
