<ion-header>
    <ion-navbar>
      <ion-title>{{getPageTitle()}} {{auth.envMode()}}</ion-title>
    </ion-navbar>
</ion-header>
<ion-content class="contacts-and-chats-page contentPage">
  <ion-segment [(ngModel)]="segmentSelected"
      class="segment-tab-nav">
      <ion-segment-button value="contacts" >
          <a class="tab-buttons has-title has-icon">
              <ion-icon name="contacts-icon"></ion-icon>
              <span>{{"contacts-and-chats.contacts" | translate}}</span>
          </a>
      </ion-segment-button>
      <ion-segment-button value="chats" *ngIf="goal ==='chat'">
          <a class="tab-buttons has-title has-icon">
              <ion-icon name="chats-icon"></ion-icon>
              <span>{{"contacts-and-chats.chats" | translate}}</span>
          </a>
      </ion-segment-button>
  </ion-segment>
  <contacts goal={{goal}} *ngIf="segmentSelected==='contacts'" (goalChange)=goalChanged($event)></contacts>
  <chat-list *ngIf="segmentSelected==='chats'"></chat-list>
</ion-content>
