.contacts {
    scroll-content {
        padding: 0;
    }
    .toolbar-background {
        background: #fff;

    }
    .toolbar {
        padding: 0;
        .bar-button {
            color: #17909c;
            font-size: 16px;
        }
        .button-icon-only {
            color: #17909c;
            font-size: 16px;
        }
        .right {
            float: right;
            ion-icon {
                color: #17909c;
                font-weight: bold;
            }
        }
    }
}
