<ion-content class="contacts">
  <div *ngIf="!displayableContacts">
      <ion-row>
          <ion-col text-center>
              <ion-spinner></ion-spinner>
          </ion-col>
      </ion-row>
  </div>
  <ion-list class="contacts-list" *ngIf="displayableContacts">

    <ion-item  detail-none *ngFor="let contact of displayableContacts" (click)="contactSelected(contact)">
      <ion-avatar item-left> <ion-img [src]="contact.profilePhotoUrl"></ion-img></ion-avatar>
      <h2>{{contact.name}}</h2>
      <p>{{contact.formattedPhone}} <span>{{contact.phoneType}}</span></p>
      <button type="button" [hidden]="contact.userId" secondary item-right>Invite</button>
      <button type="button" [hidden]="!contact.userId" primary item-right>{{memberActionLabel}}</button>
    </ion-item>

    <ion-item *ngIf="pageIndex == numberOfPages" detail-none (click)="inviteFriend()">
      <ion-avatar item-left> <ion-img></ion-img></ion-avatar>
      <h2>Invite Friend</h2>
    </ion-item>

    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more contacts..."></ion-infinite-scroll-content>
    </ion-infinite-scroll>

  </ion-list>

</ion-content>
