<ion-header>
    <ion-navbar>
        <ion-title>{{"identity-info-setup.title" | translate}}</ion-title>
        <ion-buttons end>
          <button [disabled]="!mainForm.valid" (click)="submit()">            
              {{"done" | translate}}
          </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content padding class="registration profile-setup">
  {{ mainForm._errors}}
    <form [formGroup]="mainForm" (ngSubmit)="mainForm.valid && submit()">

        <ion-item>
            <ion-label floating>Gender</ion-label>
            <ion-select [(ngModel)]="verification.PersonInfo.Gender" formControlName="gender">
                <ion-option [value]="s.value" *ngFor="let s of genders">{{s.name}}</ion-option>
            </ion-select>
        </ion-item>
        <ion-item>
          <ion-label floating>{{'identity-info-setup.dateOfBirth' | translate}}</ion-label>
          <ion-datetime displayFormat="YYYY MMM D" min="1916" max="1997" [(ngModel)]="dateOfBirth" formControlName="dateOfBirth" (ionChange)="dobChanged()"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label floating>{{'identity-info-setup.idType' | translate}}</ion-label>
          <ion-select [(ngModel)]="identificationType" formControlName="identificationType" (ionChange)="identificationTypeSelected()">
              <ion-option [value]="t.value" *ngFor="let t of identificationTypes">{{t.name}}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item class="item item-input input-item-data" style="position: absolute; left: -9999px; width: 1px; height: 1px;">
          <ion-input type="submit">.</ion-input>
        </ion-item>
        <ion-item-group *ngIf="identificationType == 'Driver License'">
          <ion-item>
              <ion-label floating>{{'identity-info-setup.driverLicenseState' | translate}}</ion-label>
              <ion-select [(ngModel)]="verification.DriverLicense.State" formControlName="driverLicenseState">
                  <ion-option [value]="s" *ngFor="let s of driverLicenseStates">{{s}}</ion-option>
              </ion-select>
          </ion-item>
          <ion-item>
              <ion-label floating>{{'identity-info-setup.driverLicenseNumber' | translate}}</ion-label>
              <ion-input type="text" [(ngModel)]="verification.DriverLicense.Number" formControlName="driverLicenseNumber"></ion-input>
          </ion-item>
        </ion-item-group>

        <ion-item-group *ngIf="identificationType == 'National Id'">
          <ion-item>
            <ion-label floating>{{nationalIdPlaceholder()}}</ion-label>
              <ion-input type="text" [(ngModel)]="verification.NationalId.Number" formControlName="nationalIdNumber"></ion-input>
          </ion-item>
        </ion-item-group>

        <ion-item-group *ngIf="identificationType == 'Passport'">
          <ion-item>
              <ion-label floating>{{'identity-info-setup.MRI1' | translate}}</ion-label>
              <ion-input type="text" [(ngModel)]="verification.Passport.Mrz1" formControlName="passportMrz1"></ion-input>
          </ion-item>
          <ion-item>
              <ion-label floating>{{'identity-info-setup.MRI2' | translate}}</ion-label>
              <ion-input type="text" [(ngModel)]="verification.Passport.Mrz2" formControlName="passportMrz2"></ion-input>
          </ion-item>
          <ion-item>
              <ion-label floating>{{'identity-info-setup.passportNumber' | translate}}</ion-label>
              <ion-input type="text" [(ngModel)]="verification.Passport.Number" formControlName="passportNumber"></ion-input>
          </ion-item>
          <ion-item>
              <ion-label floating>{{'identity-info-setup.passportExpirationDay' | translate}}</ion-label>
              <ion-input type="text" [(ngModel)]="verification.Passport.DayOfExpiry" formControlName="passportExpirationDayOfExpiry"></ion-input>
          </ion-item>
          <ion-item>
              <ion-label floating>{{'identity-info-setup.passportExpirationMonth' | translate}}</ion-label>
              <ion-input type="text" [(ngModel)]="verification.Passport.MonthOfExpiry" formControlName="passportExpirationMonthOfExpiry"></ion-input>
          </ion-item>
          <ion-item>
              <ion-label floating>{{'identity-info-setup.passportExpirationYear' | translate}}</ion-label>
              <ion-input type="text" [(ngModel)]="verification.Passport.YearOfExpiry" formControlName="passportExpirationYearOfExpiry"></ion-input>
          </ion-item>
        </ion-item-group>
    </form>
</ion-content>
