<ion-header>
    <ion-navbar>
        <ion-title>Set Up Basic Profile</ion-title>
        <button clear class="right" [disabled]="!mainForm.valid" (click)="submit()">
            Done
        </button>
    </ion-navbar>
</ion-header>
<ion-content padding class="registration profile-setup">
    <form [formGroup]="mainForm">
        <ion-item>
            <ion-input [focuser] type="text" [(ngModel)]="profile.firstName" formControlName="firstName" placeholder="First name"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input type="text" [(ngModel)]="profile.middleName" formControlName="middleName" placeholder="Middle name (optional)"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input type="text" [(ngModel)]="profile.lastName" formControlName="lastName" placeholder="Last name"></ion-input>
        </ion-item>
        <!-- <ion-item>
            <ion-select [(ngModel)]="profile.countryCode"  (ionChange)="fillStatesArray()" formControlName="country">
                <ion-option [value]="c.alpha2" *ngFor="let c of countries">{{c.name}}</ion-option>
            </ion-select>
        </ion-item> -->
        <ion-item>
            <ion-select *ngIf="states.length>0" (ionChange)="onStateSelected($event)" formControlName="stateName" >
                <ion-option [value]="s" *ngFor="let s of states">{{s.name}}</ion-option>
            </ion-select>
            <ion-input *ngIf="states.length==0" type="text" [(ngModel)]="profile.stateName" formControlName="stateName" placeholder="State or Province"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input type="text" [(ngModel)]="profile.address" formControlName="address" placeholder="Street Address"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input type="text" [(ngModel)]="profile.city" formControlName="city" placeholder="City"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input type="text" [(ngModel)]="profile.postalCode" formControlName="postalCode" placeholder="Zip/Postal Code"></ion-input>
        </ion-item>
    </form>
</ion-content>
