<ion-navbar *navbar>
  <ion-title>{{selectedCountry.code}}{{phoneForm.value.phone}}</ion-title>
  <button clear class="right" (click)="submit()">
      Done
  </button>
</ion-navbar>

<ion-content padding class="registration2 registration">

  <p class="sub-heading">
    Pleae confirm your country code and enter your phone number
  </p>

  <form [ngFormModel]="phoneForm" (submit)="submit()">

    <div class="list country-code-cont">
      <ion-item class="item item-input" (click)="openCountryPopover($event)">
        <div class="phone-country-name" autocomplete="off">{{selectedCountry.name}}</div>
        <ion-icon name="arrow-forward" item-right></ion-icon>
      </ion-item>
      <ion-item class="item item-input input-item-data">
        <ion-input class="phone-country-code" [value]="selectedCountry.code"> </ion-input>
        <!--<input autocomplete="off" class="phone-country-code" type="tel" style="" [value]="selectedCountry.code">
        <input autocomplete="off" class="phone-number" type="tel" />-->
        <ion-input class="phone-input" [ngFormControl]="phoneControl" type="tel" autofocus></ion-input>
      </ion-item>
      <!--<div class="item item-input">
        <input autocomplete="off" class="phone-country-code" type="tel" ng-model="credentials.phoneCountryCode" style="">
        <input autocomplete="off" class="phone-number" type="tel" ng-model="credentials.phoneNumber">
      </div>-->
    </div>
    <!--<ion-item>
      <ion-input class="phone-input" type="tel" [ngFormControl]="phoneControl" autofocus></ion-input>
    </ion-item>

    <button primary type="submit" [disabled]="!phoneForm.valid">
      Continue
    </button>-->
  </form>
</ion-content>
