<ion-navbar *navbar>
  <ion-title>Finish Account Setup</ion-title>
  <button clear class="right" [disabled]="!walletForm.valid" (click)="submit()">
      Done
  </button>
</ion-navbar>

<ion-content padding class="registration4">
  <form [ngFormModel]="walletForm" (submit)="submit()">
    <ion-item-group>
      <ion-item-divider light>Your public profile information</ion-item-divider>
      <ion-item><ion-input [focuser] type="text" [ngFormControl]="walletForm.controls.firstName" placeholder="First name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" [ngFormControl]="walletForm.controls.lastName" placeholder="Last name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-select [(ngModel)]="selectedCountry">
          <ion-option [value]="country" *ngFor="let country of countries">{{country.name}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-select [(ngModel)]="selectedState">
          <ion-option [value]="state" *ngFor="let state of states">{{state.name}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-input type="text" [ngFormControl]="walletForm.controls.city" placeholder="City"></ion-input>
      </ion-item>
    </ion-item-group>
    <ion-item-group>
      <ion-item-divider light>Your private account information</ion-item-divider>
      <ion-item>
        <button type="button" secondary (click)="suggestSecretPhrase()">
          Suggest Secret Phrase
        </button>
      </ion-item>
      <ion-item>
        <ion-input type="text" [ngFormControl]="walletForm.controls.secretPhrase" [(ngModel)]="secretPhrase" placeholder="Please enter at least 5 secret words"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" [ngFormControl]="walletForm.controls.secretPhraseConfirmation" otherControl="secretPhrase" placeholder="Re-type your secret words"></ion-input>
      </ion-item>
    </ion-item-group>
  </form>
</ion-content>
