<ion-navbar *navbar>
  <ion-title>Finish Account Setup</ion-title>
  <button clear class="right" [disabled]="!mainForm.valid" (click)="submit()">
    Done
  </button>
</ion-navbar>

<ion-content padding class="registration registration4">
  <form [ngFormModel]="mainForm">
    <ion-item-group>
      <ion-item-divider light>Your public profile information</ion-item-divider>
      <ion-item>
        <ion-input [focuser] type="text" [(ngModel)]="profile.firstName" [ngFormControl]="mainForm.controls.firstName" placeholder="First name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input [focuser] type="text" [(ngModel)]="profile.middleName" [ngFormControl]="mainForm.controls.middleName" placeholder="Middle name (optional)"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" [(ngModel)]="profile.lastName" [ngFormControl]="mainForm.controls.lastName" placeholder="Last name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-select [(ngModel)]="profile.country" (ionChange)="countrySelected()">
          <ion-option [value]="c" *ngFor="let c of countries">{{c.name}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-select [hidden]="!states || !states.length" [(ngModel)]="profile.state" (ionChange)="stateSelected()">
          <ion-option [value]="s" *ngFor="let s of states">{{s.name}}</ion-option>
        </ion-select>
        <ion-input  [hidden]="states && states.length" type="text" [(ngModel)]="profile.stateName" [ngFormControl]="mainForm.controls.stateName" placeholder="State or Province"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" [(ngModel)]="profile.city" [ngFormControl]="mainForm.controls.city" placeholder="City"></ion-input>
      </ion-item>

    </ion-item-group>
    <ion-item-group>
      <ion-item-divider light>Your private account information</ion-item-divider>
      <ion-item>
        <button type="text" secondary (click)="suggestSecretPhrase()">
          Suggest Secret Phrase
        </button>
      </ion-item>
      <ion-item>
        <ion-input type="text" [(ngModel)]="profile.secretPhrase" [ngFormControl]="mainForm.controls.secretPhrase" [(ngModel)]="secretPhrase" placeholder="Please enter at least 5 secret words"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" [(ngModel)]="profile.secretPhraseConfirmation" [ngFormControl]="mainForm.controls.secretPhraseConfirmation" otherControl="secretPhrase" placeholder="Re-type your secret words"></ion-input>
      </ion-item>
    </ion-item-group>
  </form>
</ion-content>
