<ion-header>
  <ion-navbar>
    <ion-title>{{getPageTitle()}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <div *ngIf="!showSpinner" class="search-div">
    <ion-searchbar placeholder="" [(ngModel)]="searchText">
    </ion-searchbar>
    <button ion-button icon-right clear (click)="searchItems()">Search
      <ion-icon  name="arrow-forward"></ion-icon>
    </button>
  </div>
  <ion-list>
    <ion-item class="no-referrals" text-wrap detail-none *ngIf="referrals?.length === 0 && !showSpinner" (click)="inviteFriend()">
      <p>No referrals</p>
    </ion-item>
    <ion-item detail-none *ngFor="let referral of referrals" (click)="openSelectedUserReferrals(referral)">
      <ion-avatar item-left> <img src='{{referral.profilePhotoUrl}}'></ion-avatar>
      <h2 word-wrap>{{referral.name}}</h2>
      <p>
        Downline: {{referral.downlineSize}}
      </p>
      <p>
        {{referral.phone}}
      </p>
      <p>
        {{referral.email}}
      </p>
      <!-- <p>
        {{country(referral.countryCode)}}
      </p> -->
      <button item-right ion-button icon-left outline round (click)="chatWith(referral, $event)"><ion-icon name="chatboxes"></ion-icon>Chat
      </button>
    </ion-item>
    <ion-item style="text-align:center" *ngIf="!showSpinner && !endOfResults">
      <button ion-button clear (click)="loadMore()">Load more... </button>
    </ion-item>
  </ion-list>
  <div *ngIf="showSpinner">
    <ion-row>
      <ion-col text-center>
        <ion-spinner></ion-spinner>
        <p>
          Loading referrals, this may take awhile
        </p>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
