page-referrals {
  ion-spinner * {
    width: 38px;
    height: 38px;
    stroke: color($colors, primary) !important;
  }

  .no-referrals {
    text-align: center;

    p {
      font-size: 1.6rem;
    }
  }
}
