.send-page {
    background: rgba(58, 173, 226, 1) url("../../img/img-bg.png") no-repeat 0 0;
    .toolbar-background {
        background-color: transparent;
        border: none;
        background: none;
    }
    .toolbar {
        .bar-button {
            color: #17909c;
            font-size: 25px;
        }
        .right {
            float: right;
            ion-icon {
                color: #444;
                font-weight: bold;
            }
        }
        .toolbar-title {
            color: #555;
            font-weight: normal;
        }
    }
}


/*----------------------------------------------------------------------*/

.dash-send-view {
    background: rgba(58, 173, 226, 1) url("../../img/img-bg.png") no-repeat 0 0;
}

.send-receive-cont {
    margin-top: 5px;
    padding: 0 20px;
}

.send-receive-cont .card {
    box-shadow: none;
    margin-top: 10px;
    margin-bottom: 10px;
}

.send-receive-cont .send-receive-input {
    position: relative;
    height: 52px;
}

.send-receive-cont .send-receive-input .item {
    height: 52px;
    padding-left: 8px;
}

.send-receive-cont .send-receive-input input.contact-input {
    padding-left: 30px;
}

.send-receive-cont .send-receive-ur input {
    height: 75px;
    font-size: 53px;
    line-height: 1.1em;
    font-weight: 300;
    letter-spacing: 0.01em;
    text-align: center;
    width: 92%;
    border: none;
}

.send-receive-cont .send-receive-ur .item-note {
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    position: absolute;
    bottom: 15px;
    right: 10px;
}

.send-receive-cont .send-receive-textarea .item.item-input {
    padding: 10px;
}

.send-receive-cont .send-receive-textarea textarea {
    height: 80px;
    resize: none;
    line-height: 1.4em;
    width: 100%;
    border: none;
}

.send-receive-cont .button.send-receive-btn {
    border-color: #fff;
    font-size: 26px;
    font-weight: 300;
    color: #ffffff;
    text-transform: uppercase;
    border-radius: 30px;
    line-height: 64px;
    margin-top: 18px;
    background-color: transparent;
}

.send-receive-cont .send-receive-input .contacts-cont {
    height: 100%;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 13px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}

.send-receive-cont .contacts-cont .contact-item {
    font-size: 11px;
    font-weight: 600;
    background-color: #f3f2f2;
    padding: 5px 10px;
    border-radius: 10px;
    vertical-align: middle;
    position: relative;
}

.send-receive-cont .contacts-cont .contact-item img {
    width: 17px;
    height: 17px;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 3px;
}

.send-receive-cont .contacts-cont .contact-item .contact-close {
    display: block;
    width: 10px;
    height: 10px;
    background: url("../../img/close-icon-10x10.png") no-repeat 0 0;
    position: absolute;
    top: -2px;
    right: -2px;
}


/*----------------------------------*/

.send-receive-popover {
    margin-top: -10px;
    height: 205px;
    background-color: #ffffff;
    border: 1px solid #c4c4c4;
    overflow: auto;
}

.send-receive-popover .list {
    margin-left: 10px;
    margin-right: 10px;
}

.send-receive-popover .list .item {
    border-left-color: transparent;
    border-right-color: transparent;
    padding: 0;
    font-size: 12px;
    min-height: 28px;
    ion-label{
        margin: 0;
    }
}
.send-receive-popover .list .item.padding-left{
    padding-left: 8px;
}

.send-receive-popover .list .item-divider {
    text-align: center;
    background-color: transparent;
    padding-left: 0;
    padding-right: 0;
    overflow: visible;
     min-height: 34px;
    .item-inner {
        padding: 0;
    }
    ion-label {
        margin: 0;
    }
}

.send-receive-popover .item-divider span {
    background-color: #efefef;
    border-radius: 5px;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 600;
    color: #777777;
    display: block;
    padding: 3px 0;
}

.send-receive-popover .contacts-list .item.item-avatar {
    min-height: 30px;
    height: 30px;
    border-bottom: 1px solid #c4c4c4;
    ion-avatar {
        margin: 12px 16px 0 8px;
    }
}

.send-receive-popover .item.item-avatar img {
    width: 25px;
    height: 25px;
    top: 4px;
    left: 5px;
}