<ion-header>
    <ion-navbar>
        <ion-title>Send UR</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding
    class="dash-send-view">
    <form class="send-requestcont"
        [formGroup]="mainForm"
        (ngSubmit)="sendUR()">
        <ion-item detail-none>
            <ion-avatar item-left>
                <ion-img [src]="contact.profilePhotoUrl"></ion-img>
            </ion-avatar>
            <h2>{{contact.name}}</h2>
        </ion-item>
        <div class="card send-requestinput">
            <label class="item item-input disabled">
                <span>Available balance:</span>
                <input formControlName="balance"
                    class="inputDisabled"
                    [disabled]="true"
                    type="text" />
            </label>
        </div>
        <div class="card send-requestur">
            <label class="item item-input">
                <input formControlName="amount"
                    placeholder="Enter amount to send"
                    class="amount"
                    type="text" />
                <ion-note class="item-note"> UR </ion-note>
            </label>
            <div class="validatorError"
                *ngIf="mainForm.find('amount').dirty && mainForm.find('amount').hasError('required')">Amount is required</div>
            <div class="validatorError"
                *ngIf="mainForm.find('amount').dirty && mainForm.find('amount').hasError('invalidPositiveNumber') && !mainForm.find('amount').hasError('required')">Amount has to be greater than 0</div>
            <div class="validatorError"
                *ngIf="mainForm.find('amount').dirty && mainForm.find('amount').hasError('invalidBalance')">Amount cannot be greater than balance</div>
        </div>
        <div class="card send-requesttextarea">
            <label class="item item-input">
                <ion-textarea formControlName="message"
                    placeholder="Enter a message (optional)"></ion-textarea>
            </label>
        </div>

    
        <button class="button button-light button-outline button-block button-large send-requestbtn"
            type="submit"
            [disabled]="!mainForm.valid">Send</button>
    </form>
</ion-content>
