.identity-verification-summary {

}

identity-verification-summary-page {
  ion-card-header {
    background-color: color($colors, light);
  }

  ion-item {
    padding-left: 0px !important;
  }

  .footer-card {
    background-color: color($colors, light);
  }
}
