<ion-menu [content]="content">

  <ion-content class="ur-menu">
    <div class="menu-bar">
      <button clear light class="left" (click)="signOut()">
         <ion-icon name="power"></ion-icon>
      </button>
      <button clear light class="right" (click)="openSetting()">
         <ion-icon name="settings"></ion-icon>
      </button>
    </div>
    <div class="menu-profile">
      <img class="menu-avatar" *ngIf="(auth.user | async)?.profileImage" src="{{(auth.user | async)?.profileImage}}" alt="">
      <img class="menu-avatar" *ngIf="!(auth.user | async)?.profileImage" src="http://placehold.it/350x150" alt="">
      <h1 class="profile-name">{{(auth.user | async)?.firstName}} {{(auth.user | async)?.lastName}}</h1>
    </div>
    <ion-list class="menu-list" no-lines>
      <ion-item *ngFor="let menuItem of menuItems" (click)="openPage(menuItem)">
        <i [class]="menuItem.icon" item-left></i> {{menuItem.title}}
      </ion-item>


    </ion-list>
    <div class="menu-footer">
      <ion-row class="add-loved-once">
        <ion-col class="text-center">
          <a href="#" class="add-loved"></a>
        </ion-col>
        <ion-col class="text-center">
          <div class="angle-icon"></div>
        </ion-col>
        <ion-col class="text-center">
          <a href="#" class="add-once"></a>
        </ion-col>
      </ion-row>
      <p class="invite-text">Invite your Loved Ones And Get <span>1000Ur</span></p>
      <button class="button button-block button-outline invite-btn">Invite</button>
    </div>
  </ion-content>

</ion-menu>

<ion-nav id="nav" [root]="rootPage" #content swipe-back-enabled="false"></ion-nav>
<loading-modal #loading></loading-modal>