<ion-menu [content]="content">

  <ion-content class="ur-menu">
    <div class="menu-bar">
      <!-- <button clear light class="left" (click)="signOut()">
         <ion-icon name="power"></ion-icon>
      </button> -->
      <button clear light class="right" (click)="openSettings()">
         <ion-icon name="settings"></ion-icon>
      </button>
    </div>
    <div class="menu-profile" *ngIf="auth.currentUser">
      <img class="menu-avatar" [src]="auth.currentUser.profilePhotoUrl" alt="">
      <h1 class="profile-name">{{auth.currentUser.firstName}} {{auth.currentUser.lastName}}</h1>
      <p></p>
    </div>
    <ion-list class="menu-list" no-lines>
      <ion-item *ngFor="let menuItem of menuItems" tappable (click)="openPage(menuItem)">
        <i [class]="menuItem.icon" item-left></i> {{menuItem.title}}
      </ion-item>


    </ion-list>
    <div class="menu-footer">
      <ion-row class="add-loved-once">
        <ion-col class="text-center">
          <a href="#" class="add-loved"></a>
        </ion-col>
        <ion-col class="text-center">
          <div class="angle-icon"></div>
        </ion-col>
        <ion-col class="text-center">
          <a href="#" class="add-once"></a>
        </ion-col>
      </ion-row>
      <p class="invite-text">Invite your Loved Ones And Get <span>1000Ur</span></p>
      <button (click)="chooseContactAndInvite()" class="button button-block button-outline invite-btn">Invite</button>
    </div>
  </ion-content>

</ion-menu>

<ion-nav id="nav" [root]="rootPage" #content swipe-back-enabled="false"></ion-nav>
<loading-modal #loading></loading-modal>
