.identity-verification-personal-info {}

identity-verification-personal-info-page {
  ion-card-header {
    background-color: color($colors, light);
  }

  ion-item {
    padding-left: 0px !important;
  }

  .footer-card {
    background-color: color($colors, light);
  }

  .card-md .item-md.item-block .item-inner {
    border-bottom: 1px solid #dedede;
  }
}
