.identity-verification-document {

}

.identity-verification-document-page{
  ion-card-header {
    background-color: #f8f8f8;
    padding: 0px;
  }

  ion-item {
    padding-left: 0;
  }

  .footer-card {
    background-color: #f8f8f8;
  }
}
