contacts-and-chats-page {

  .segment-tab-nav ion-segment-button span {
    margin-top: -7px;
  }

  .segment-tab-nav ion-segment-button {
    height: 61px !important;
    padding-top: 8px !important;
  }

  .segment-tab-nav ion-segment-button .tab-buttons {
    display: flex;
    overflow: hidden;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
  }

  .item-note {
    font-size: 1.1rem;
  }

  .ion-ios-contacts-icon {
    content: url("../assets/img/contacts-icon-active.png");
  }

  .ion-md-contacts-icon {
    content: url("../assets/img/contacts-icon-active.png");
    width: 24px;
    height: 24px;
  }

  .ion-ios-contacts-icon-on-outline {
    background: url("../assets/img/contacts-icon.png") no-repeat center;
  }

  .ion-ios-chats-icon {
    content: url("../assets/img/chats-icon-active.png");
  }

  .ion-md-chats-icon {
    content: url("../assets/img/chats-icon-active.png");
    width: 24px;
    height: 24px;
  }

  .ion-ios-chats-icon-on-outline {
    background: url("../assets/img/chats-icon.png") no-repeat center;
  }

  .chats-list {
    margin-top: 2px;
  }
}
