<ion-menu [content]="content" *ngIf="auth.currentUser && auth.currentUser.wallet && auth.currentUser.wallet.address">

  <ion-content class="ur-menu">
    <div class="menu-bar">
      <!-- <button clear light class="left" (click)="signOut()">
         <ion-icon name="power"></ion-icon>
      </button> -->
      <button ion-button icon-only clear color="light" class="right" (click)="openSettings()">
         <ion-icon name="settings"></ion-icon>
      </button>
      <div class="right">{{auth.envModeDisplay()}}</div>
    </div>
    <div class="menu-profile" *ngIf="auth.currentUser">
      <img class="menu-avatar" [src]="auth.currentUser.profilePhotoUrl" alt="">
      <h1 class="profile-name">{{auth.currentUser.name}}</h1>
      <p color="light">{{"app.referralCode" | translate}} {{auth.currentUser.referralCode}}</p>
    </div>
    <ion-list class="menu-list" no-lines>
      <ion-item *ngFor="let menuItem of menuItems" tappable (click)="openPage(menuItem)">
        <i [class]="menuItem.icon" item-left></i> {{menuItem.title}}
      </ion-item>


    </ion-list>
    <div class="menu-footer" (click)="invite()">
      <ion-row class="add-loved-once">
        <ion-col class="text-center">
          <a href="#" class="add-loved"></a>
        </ion-col>
        <ion-col class="text-center">
          <div class="angle-icon"></div>
        </ion-col>
        <ion-col class="text-center">
          <a href="#" class="add-once"></a>
        </ion-col>
      </ion-row>
      <p class="invite-text">{{"app.inviteMessage" | translate}}</p>
      <button ion-button outline class="invite-btn">{{"app.invite" | translate}} </button>
    </div>
  </ion-content>

</ion-menu>

<ion-nav id="nav" #content swipe-back-enabled="false"></ion-nav>
