selfie-match-page {

	.selfie-container {
		
		margin-top: 1em;

		img {
			width: auto;
			max-height: 600px;
			margin: 0 auto;
			margin-top: 1em;
		}

		button {

			$height: 42px;

			margin-top: 1em;
			height: $height;
			width: 100%;
			display: block;
			line-height: $height;
			color: white;
			font-size: 1.2em;
			@include appearance(none);
			background-color: color($colors, primary);
			transition: background-color, opacity 100ms linear;
			cursor: pointer; 
			white-space: nowrap;
			text-align: center;
			position: relative;
			padding: 0 !important;

			ion-img, .preview-image img {
				width: $height !important;
				height: $height !important;
				position: absolute;
				left: 0px;
			}

				ion-icon {
					display: inline-block;
					position: relative;
					top: 0.1em;
				}

			input[type='file'] {
				display: none;
			}
		}
	}

  ion-card-header {
    background-color: color($colors, light);
  }

  ion-item {
    padding-left: 0 !important;
  }

  .footer-card {
    background-color: color($colors, light);
  }

  .item-ios.item-input.input-has-focus .item-inner {
    border-bottom-color: color($colors, primary) !important;
  }

  .card-ios .item-ios.item-block .item-inner {
    border-bottom: 1px solid #dedede;
  }

  .card-md .item-md.item-block .item-inner {
    border-bottom: 1px solid #dedede;
  }
}
