<ion-header>
  <ion-navbar>
    <ion-title class="chat-title">{{"choose-contact.title" | translate}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-segment [(ngModel)]="option">
    <ion-segment-button value="contact">
      Contact
    </ion-segment-button>
    <ion-segment-button value="address">
      Wallet address
    </ion-segment-button>
  </ion-segment>
  <contacts goal="send" *ngIf="option=='contact'" (onContactSelected)="onContactSelected($event)"></contacts>
  <div *ngIf="option=='address'">
    <form [formGroup]="mainForm" (ngSubmit)="mainForm.valid && dismissWalletAddress()">
      <ion-item>
        <ion-label stacked>Wallet address</ion-label>
        <ion-input formControlName="addressWallet" placeholder="{{'choose-contact.placeholderAddress' | translate}}"></ion-input>
        <button ion-button icon-right type="submit" color="primary" [disabled]="!mainForm.valid" item-right>{{"continue" | translate}}<ion-icon name="arrow-round-forward"></ion-icon></button>
      </ion-item>
      <br />
      <div class="validatorError" *ngIf="incorrectToField()">{{"send.incorrectAddress" | translate}}</div>
    </form>
  </div>
</ion-content>
