page-choose-contact {
  .not-approved-yet {
    padding: 1em;
    background-color: #fff588;
    font-weight: bold;
  }

  ion-spinner * {
    width: 38px;
    height: 38px;
    stroke: color($colors, primary) !important;
  }

  .no-items {
    text-align: center;

    p {
      font-size: 1.6rem;
    }
  }
}
