page-lost-password {
  .welcome-ur {
    padding: 5px 16px 16px 0;
    background-size: cover;
    text-align: center;
    width: 100%;
  }

  .sub-heading {
    font-size: 1.6rem;
    text-align: justify;
    margin-left: 16px;

    b {
      color: color($colors, dark);
    }
  }

  .continue {
    margin-top: 15px;
  }

  .terms {
    margin-top: 25px;
    font-size: 1.2rem;
    color: #323232;
  }

  ion-item {
    background-color: transparent !important;
  }

  .list-md .item-block .item-inner {
    border-bottom-color: #c8c7cc !important;
  }

  .ur-logo img {
    display: block;
    max-width: 100%;
    margin: 0 auto 15px;
  }

  .main-splash {
    background: rgba(241, 241, 241, 1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(241, 241, 241, 1) 0%, rgba(196, 202, 206, 1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(241, 241, 241, 1)), color-stop(100%, rgba(196, 202, 206, 1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(241, 241, 241, 1) 0%, rgba(196, 202, 206, 1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(241, 241, 241, 1) 0%, rgba(196, 202, 206, 1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(241, 241, 241, 1) 0%, rgba(196, 202, 206, 1) 100%);
    background: radial-gradient(ellipse at center, rgba(241, 241, 241, 1) 0%, rgba(196, 202, 206, 1) 100%);
  }

  .main-splash .ur-logo {
    margin-top: 15px;
    width: 100%;
  }

  .main-splash .ur-logo img {
    display: block;
    max-width: 100%;
    margin: 0 auto 15px;
  }

  .toolbar-background-md {
    background-color: transparent;
  }

  .toolbar-background-ios {
    background-color: transparent;
  }
}
