.downline-level-1 {
  padding-left: 0px;
}

.downline-level-2 {
  padding-left: 20px;
}

.downline-level-3 {
  padding-left: 40px;
}

.downline-level-4 {
  padding-left: 60px;
}

.downline-level-5 {
  padding-left: 80px;
}
