<ion-content padding class="dashboard">

  <div style="text-align: center;">
    <img src="/img/logo.png">
  </div>

  <h5 style="text-align: center;">
    <p>Congratulations on being part of the UR Capital beta program!</p>
  </h5>
  <p>Your Member Id is {{user.memberId}}</p>
  <p>We will contact you as soon as UR Capital is launched.</p>
  <p>In the meantime, build status, priority, and more by referring friends to our beta testing program.</p>

  <form [ngFormModel]="inviteForm" (submit)="sendInvitation($event, phoneInput)">
    <p *ngIf="error">{{error}}</p>

    <ion-list>
      <ion-item [class.error]="!phone.valid && phone.touched" class="last-child">
        <ion-input type="tel" #phoneInput [ngFormControl]="phone" placeholder="Enter your friend's phone"></ion-input>
      </ion-item>
    </ion-list>
    <button secondary full type="submit" [disabled]="!inviteForm.valid || submissionInProgress">
      Invite!
      <span *ngIf="submissionInProgress" class="spinner-wrapper">&nbsp;<ion-spinner></ion-spinner></span>
    </button>

  </form>

  <div *ngIf="user.admin">
    <ion-list>
     <ion-item ion-item *ngFor="let u of allUsers">
       <span class="downline-level-{{u.downlineLevel}}">
         <span *ngIf="u.memberId">#{{u.memberId}} {{fullName(u)}}</span>
         <span *ngIf="!u.memberId">Invitee</span>
         <span>{{u.phone}}</span>
         <!-- <span *ngIf="u.sponsor">(referred by {{fullName(u.sponsor)}})</span> -->
       </span>
     </ion-item>
   </ion-list>
  </div>

</ion-content>
