.home-page {
   .container{
        min-width: 310px;
        height: 300px; 
        margin: 0 auto
     }
     
     .text-center{
         text-align: center;
     }
     .border-none{
         border:none !important;
         .item-inner{
         border:none !important;             
         }
     }
}
