<ion-list class="events-list">
    <ion-item detail-none text-wrap
        (click)="openPageByEventType(event.sourceType, event.sourceId)"
        class="item item-avatar"
        *ngFor="let event of events">

        <ion-avatar item-left>
            <img src="{{event.profilePhotoUrl}}">
        </ion-avatar>
        <ion-note item-right
            class="item-note">{{event.updatedAt|dateAndTime}}</ion-note>
        <h2 class="text-cut">  {{event.title}}</h2>
        <div text-wrap class="columnMessage">
            <p>{{event.messageText}}</p>
        </div>
    </ion-item>
</ion-list>
