
<!-- <ion-navbar *navbar>
  <ion-title>signUp</ion-title>
</ion-navbar> -->

<ion-content padding class="sign-in">

  <div style="text-align: center;">
    <img src="/img/logo.png">
  </div>

  <h5 style="text-align: center;">
    Creating Wealth through Technology
  </h5>

  <form [ngFormModel]="signInForm" (submit)="signIn($event)">
    <p *ngIf="error">{{error}}</p>
    <ion-list>
      <ion-item [class.error]="!phone.valid && phone.touched" class="last-child">
        <ion-input type="tel" [focuser] [ngFormControl]="phone" placeholder="Please enter your 10-digit phone number"></ion-input>
      </ion-item>
      <button secondary full type="submit" [disabled]="!signInForm.valid || submissionInProgress">
        Sign In
        <span *ngIf="submissionInProgress" class="spinner-wrapper">&nbsp;<ion-spinner></ion-spinner></span>
      </button>
    </ion-list>
  </form>
</ion-content>
