<ion-header>
  <ion-navbar>
    <ion-title>{{"identity-verification.title" | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding #content>
  <form [formGroup]="mainForm" (ngSubmit)="mainForm.valid && submit()">
    <ion-card>
      <ion-card-header>
        <ion-label text-center primary>{{"identity-verification-address.slideTitle" | translate}}</ion-label>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-label floating>{{'identity-verification-address.countryCode' | translate}}</ion-label>
            <ion-select formControlName="countryCode" (ionChange)="onCountrySelected($event)">
              <ion-option [value]="c" *ngFor="let c of countries">
                {{c.name}}
              </ion-option>
            </ion-select>
          </ion-item>
          <ion-item *ngIf="showField('buildingNumber')">
            <ion-label floating>{{'identity-verification-address.buildingNumber' | translate}}</ion-label>
            <ion-input type="text" [(ngModel)]="profile.buildingNumber" formControlName="buildingNumber"></ion-input>
          </ion-item>
          <ion-item *ngIf="showField('streetName')">
            <ion-label floating>{{'identity-verification-address.streetName' | translate}}</ion-label>
            <ion-input type="text" [(ngModel)]="profile.streetName" formControlName="streetName"></ion-input>
          </ion-item>
          <ion-item *ngIf="showField('streetType')">
            <ion-label floating>{{'identity-verification-address.streetType' | translate}}</ion-label>
            <ion-select [(ngModel)]="profile.streetType" formControlName="streetType">
              <ion-option [value]="s.value" *ngFor="let s of streetTypes">{{s.name}}</ion-option>
            </ion-select>
          </ion-item>
          <ion-item *ngIf="showField('unitNumber')">
            <ion-label floating>{{'identity-verification-address.unitNumber' | translate}}</ion-label>
            <ion-input type="text" [(ngModel)]="profile.unitNumber" formControlName="unitNumber"></ion-input>
          </ion-item>
          <ion-item *ngIf="showField('buildingName')">
            <ion-label floating>{{'identity-verification-address.buildingName' | translate}}</ion-label>
            <ion-input type="text" [(ngModel)]="profile.buildingName" formControlName="buildingName"></ion-input>
          </ion-item>
          <ion-item *ngIf="showField('address1')">
            <ion-label floating>{{'identity-verification-address.address1' | translate}}</ion-label>
            <ion-input type="text" [(ngModel)]="profile.address1" formControlName="address1"></ion-input>
          </ion-item>
          <ion-item *ngIf="showField('city')">
            <ion-label floating>{{'identity-verification-address.city' | translate}}</ion-label>
            <ion-input type="text" (focus)="focusInput()" [(ngModel)]="profile.city" formControlName="city"></ion-input>
          </ion-item>
          <ion-item *ngIf="showField('suburb')">
            <ion-label floating>{{'identity-verification-address.suburb' | translate}}</ion-label>
            <ion-input type="text" (focus)="focusInput()" [(ngModel)]="profile.suburb" formControlName="suburb"></ion-input>
          </ion-item>
          <ion-item *ngIf="showField('stateCode')">
            <ion-label floating>{{'identity-verification-address.stateCode' | translate}}</ion-label>
            <ion-select (ionChange)="onStateSelected($event)" formControlName="stateCode">
              <ion-option [value]="s" *ngFor="let s of states">{{s.name}}</ion-option>
            </ion-select>
          </ion-item>
          <ion-item *ngIf="showField('postalCode')">
            <ion-label floating>{{'identity-verification-address.postalCode' | translate}}</ion-label>
            <ion-input type="text" (focus)="focusInput()" [(ngModel)]="profile.postalCode" formControlName="postalCode"></ion-input>
          </ion-item>
        </ion-list>
      </ion-card-content>
      <ion-item class="footer-card">
        <button item-right clear [disabled]="!mainForm.valid">
              {{"continue" | translate}}
              <ion-icon name="arrow-forward"></ion-icon>
            </button>
      </ion-item>
    </ion-card>

  </form>
</ion-content>
<ion-footer [keyboardAttach]="content">

</ion-footer>
