<ion-header>
  <ion-navbar>
    <ion-title>{{"identity-verification.title" | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding #content>
  <form [formGroup]="mainForm" (ngSubmit)="mainForm.valid && submit()">
    <ion-card>
      <ion-card-header>
        <ion-label text-center primary>{{"identity-verification-address.slideTitle" | translate}}</ion-label>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-label floating>{{'profile-setup.country' | translate}}</ion-label>
            <ion-select formControlName="countryCode" (ionChange)="onCountrySelected($event)">
              <ion-option [value]="c" *ngFor="let c of countries">
                {{c.name}}
              </ion-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label floating>{{'profile-setup.state' | translate}}</ion-label>
            <ion-select *ngIf="states.length>0" (ionChange)="onStateSelected($event)" formControlName="stateName">
              <ion-option [value]="s" *ngFor="let s of states">{{s.name}}</ion-option>
            </ion-select>
            <ion-input *ngIf="states.length==0" type="text" [(ngModel)]="profile.stateName" formControlName="stateName"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label floating>{{'profile-setup.buildingNumber' | translate}}</ion-label>
            <ion-input type="text" [(ngModel)]="profile.buildingNumber" formControlName="buildingNumber"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label floating>{{'profile-setup.streetName' | translate}}</ion-label>
            <ion-input type="text" [(ngModel)]="profile.streetName" formControlName="streetName"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label floating>{{'profile-setup.streetType' | translate}}</ion-label>
            <ion-select [(ngModel)]="profile.streetType" formControlName="streetType">
              <ion-option [value]="s.value" *ngFor="let s of streetTypes">{{s.name}}</ion-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label floating>{{'profile-setup.city' | translate}}</ion-label>
            <ion-input type="text" (focus)="focusInput()" [(ngModel)]="profile.city" formControlName="city"></ion-input>
          </ion-item>
          <ion-item *ngIf="auth.currentUser.countryCode == 'ZA'">
            <ion-label floating>{{'profile-setup.suburb' | translate}}</ion-label>
            <ion-input type="text" (focus)="focusInput()" [(ngModel)]="profile.suburb" formControlName="suburb"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label floating>{{'profile-setup.postalCode' | translate}}</ion-label>
            <ion-input type="text" (focus)="focusInput()" [(ngModel)]="profile.postalCode" formControlName="postalCode"></ion-input>
          </ion-item>
        </ion-list>
      </ion-card-content>
      <ion-item class="footer-card">
        <button item-right clear [disabled]="!mainForm.valid">
              {{"continue" | translate}}
              <ion-icon name="arrow-forward"></ion-icon>
            </button>
      </ion-item>
    </ion-card>

  </form>
</ion-content>
<ion-footer [keyboardAttach]="content">

</ion-footer>
