<ion-header>
  <ion-navbar>
    <ion-title>{{"identity-verification.title" | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding
  #content>
  <form [formGroup]="mainForm"
    (ngSubmit)="mainForm.valid && submit()">
    <ion-card>
      <ion-card-header>
        <ion-label text-center primary>{{"identity-verification-document.slideTitle" | translate}}</ion-label>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-label floating>{{'identity-verification-document.idType' | translate}}</ion-label>
            <ion-select [(ngModel)]="verificationArgs.IdentificationType" formControlName="identificationType" (ionChange)="clearFormErrors()">
                <ion-option [value]="t.value" *ngFor="let t of identificationTypes">{{t.name}}</ion-option>
            </ion-select>
          </ion-item>
          <ion-item class="item item-input input-item-data" style="position: absolute; left: -9999px; width: 1px; height: 1px;">
            <ion-input type="submit">.</ion-input>
          </ion-item>
          <ion-item-group *ngIf="verificationArgs.IdentificationType === 'DriverLicence'">
            <ion-item *ngIf="verificationArgs.CountryCode === 'US'">
                <ion-label floating>{{'identity-verification-document.driverLicenceState' | translate}}</ion-label>
                <ion-select [(ngModel)]="verificationArgs.DriverLicence.State" formControlName="driverLicenceState">
                    <ion-option [value]="s" *ngFor="let s of driverLicenceStates">{{s}}</ion-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label floating>{{'identity-verification-document.driverLicenceNumber' | translate}}</ion-label>
                <ion-input type="text" [(ngModel)]="verificationArgs.DriverLicence.Number" formControlName="driverLicenceNumber"  (focus)="focusInput()"></ion-input>
            </ion-item>
          </ion-item-group>

          <ion-item-group *ngIf="verificationArgs.IdentificationType === 'NationalId'">
            <ion-item>
              <ion-label floating>{{nationalIdDisplayName()}}</ion-label>
                <ion-input type="text" [(ngModel)]="verificationArgs.NationalId.Number" formControlName="nationalIdNumber" (focus)="focusInput()"></ion-input>
            </ion-item>
          </ion-item-group>

          <ion-item-group *ngIf="verificationArgs.IdentificationType === 'Passport'">
            <ion-item>
                <ion-label floating>{{'identity-verification-document.MRI1' | translate}}</ion-label>
                <ion-input type="text" [(ngModel)]="verificationArgs.Passport.Mrz1" formControlName="passportMrz1"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>{{'identity-verification-document.MRI2' | translate}}</ion-label>
                <ion-input type="text" [(ngModel)]="verificationArgs.Passport.Mrz2" formControlName="passportMrz2"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>{{'identity-verification-document.passportNumber' | translate}}</ion-label>
                <ion-input type="text" [(ngModel)]="verificationArgs.Passport.Number" formControlName="passportNumber"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>{{'identity-verification-document.passportExpirationDay' | translate}}</ion-label>
                <ion-input type="text" [(ngModel)]="verificationArgs.Passport.DayOfExpiry" formControlName="passportExpirationDayOfExpiry" (focus)="focusInput()"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>{{'identity-verification-document.passportExpirationMonth' | translate}}</ion-label>
                <ion-input type="text" [(ngModel)]="verificationArgs.Passport.MonthOfExpiry" formControlName="passportExpirationMonthOfExpiry" (focus)="focusInput()"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>{{'identity-verification-document.passportExpirationYear' | translate}}</ion-label>
                <ion-input type="text" [(ngModel)]="verificationArgs.Passport.YearOfExpiry" formControlName="passportExpirationYearOfExpiry" (focus)="focusInput()"></ion-input>
            </ion-item>
          </ion-item-group>
        </ion-list>
      </ion-card-content>
      <ion-item class="footer-card">
        <button item-right
          clear
          [disabled]="!mainForm.valid">
              {{"continue" | translate}}
              <ion-icon name="arrow-forward"></ion-icon>
            </button>
      </ion-item>
    </ion-card>

  </form>
</ion-content>
<ion-footer [keyboardAttach]="content">

</ion-footer>
