<div class="transaction-filter-top">
    <div class="filter-box"
        padding>
        <div class="filter-btns">
          <button class="button button-outline" (click)="filterTransactions('today')" [ngClass]="{'active':filterOption==='today'}">{{"transaction.today" | translate}}</button>
          <button class="button button-outline" (click)="filterTransactions('30')" [ngClass]="{'active':filterOption==='30'}">{{"transaction.last30Days" | translate}}</button>
          <button class="button button-outline" (click)="filterTransactions('60')" [ngClass]="{'active':filterOption==='60'}">{{"transaction.last60Days" | translate}}</button>
          <button class="button button-outline" (click)="filterTransactions('all')" [ngClass]="{'active':filterOption==='all'}">{{"transaction.allTime" | translate}}</button>
        </div>

        <div class="total-ur">
            {{weiToURString(filteredTransactionsTotal)}} {{getTransactionType()}}
        </div>
        <p class="last-update">
            <ion-icon name="ios-clock-outline"></ion-icon> {{"transaction.lastUpdated" | translate}} {{lastUpdated|timestamp}}
        </p>
        <div class="invite-and-earn" *ngIf="transactionType==='earned'">
                <p>{{"transaction.inviteFriends" | translate}}</p>
                <button (click)="invite()" class="button button-outline">{{"transaction.invite" | translate}}</button>
        </div>
    </div>
</div>
<div *ngIf="showSpinner">
    <ion-row>
        <ion-col text-center>
            <ion-spinner></ion-spinner>
        </ion-col>
    </ion-row>
</div>
<div class="transaction-chat"
    *ngIf="!showSpinner">
    <div class="card"
        *ngIf="filteredTransactions.length ===0">
        <ion-item class="item">
            <p style="text-align: center;">{{"transaction.noTransactionsyet" | translate}}</p>
        </ion-item>
    </div>
    <div class="card"
        *ngFor="let transaction of filteredTransactions">

        <ion-item class="item"
            text-wrap>
            <ion-avatar item-left>
                <img src="img/avatar.jpg">
            </ion-avatar>
            <h2>{{transaction.name}} <span class="item-date-time">{{transaction.createdAt|dateAndTime}}</span></h2>
            <p>{{transaction.message}} <span *ngIf="showSeeMore"><a (click)="txtLimit = null; showSeeMore = !showSeeMore">{{"transaction.seeMore" | translate}}</a></span>
              <span class="transaction-filter-{{transaction.type}}">{{transaction.type}}</span></p>
            <span class="icon trans-ur"
                item-right>{{weiToURString(transaction.amount)}}<br/>  UR</span>
        </ion-item>
    </div>

</div>
