<ion-header>
  <ion-navbar>
    <ion-title>{{"identity-verification.title" | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding
  #content>
  <ion-card>
    <ion-card-header>
      <ion-label text-center
        primary>{{"identity-verification-summary.slideTitle" | translate}}</ion-label>
    </ion-card-header>
    <ion-card-content>
      <br />
      <ion-list>
        <ion-item-divider light>{{"identity-verification-summary.personalInfo" | translate}}</ion-item-divider>
        <ion-item>
          <ion-label fixed>{{'identity-verification-summary.name' | translate}}</ion-label>
          <ion-input disabled="true"
            value="{{verificationArgs.PersonInfo.FirstGivenName}} {{verificationArgs.PersonInfo.FirstSurName}}"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label fixed>{{'identity-verification-personal-info.dateOfBirth' | translate}}</ion-label>
          <ion-input disabled="true"
            value={{dateOfBirth}}></ion-input>
        </ion-item>
        <ion-item>
          <ion-label fixed>{{'identity-verification-personal-info.gender' | translate}}</ion-label>
          <ion-input disabled="true"
            value={{gender}}></ion-input>
        </ion-item>
        <ion-item-divider light>{{"identity-verification-summary.location" | translate}}</ion-item-divider>
        <ion-item>
          <ion-label fixed>{{'identity-verification-address.countryCode' | translate}}</ion-label>
          <ion-input disabled="true"
            value="{{countryName}}"></ion-input>
        </ion-item>
        <ion-item *ngIf="showLocationField('BuildingNumber')">
          <ion-label fixed>{{'identity-verification-address.buildingNumber' | translate}}</ion-label>
          <ion-input disabled="true"
            value="{{verificationArgs.Location.BuildingNumber}}"></ion-input>
        </ion-item>
        <ion-item *ngIf="showLocationField('StreetName')">
          <ion-label fixed>{{'identity-verification-address.streetName' | translate}}</ion-label>
          <ion-input disabled="true"
            value="{{verificationArgs.Location.StreetName}}"></ion-input>
        </ion-item>
        <ion-item *ngIf="showLocationField('StreetType')">
          <ion-label fixed>{{'identity-verification-address.streetType' | translate}}</ion-label>
          <ion-input disabled="true"
            value="{{verificationArgs.Location.StreetType}}"></ion-input>
        </ion-item>
        <ion-item *ngIf="showLocationField('UnitNumber')">
          <ion-label fixed>{{'identity-verification-address.unitNumber' | translate}}</ion-label>
          <ion-input disabled="true"
            value="{{verificationArgs.Location.UnitNumber}}"></ion-input>
        </ion-item>
        <ion-item *ngIf="showLocationField('BuildingName')">
          <ion-label fixed>{{'identity-verification-address.buildingName' | translate}}</ion-label>
          <ion-input disabled="true"
            value="{{verificationArgs.Location.BuildingName}}"></ion-input>
        </ion-item>
        <ion-item *ngIf="showLocationField('AdditionalFields.Address1')">
          <ion-label fixed>{{'identity-verification-address.address1' | translate}}</ion-label>
          <ion-input disabled="true"
            value="{{verificationArgs.AdditionalFields.Address1}}"></ion-input>
        </ion-item>
        <ion-item *ngIf="showLocationField('City')">
          <ion-label fixed>{{'identity-verification-address.city' | translate}}</ion-label>
          <ion-input disabled="true"
            value="{{verificationArgs.Location.City}}"></ion-input>
        </ion-item>
        <ion-item *ngIf="showLocationField('Suburb')">
          <ion-label fixed>{{'identity-verification-address.suburb' | translate}}</ion-label>
          <ion-input disabled="true"
            value="{{verificationArgs.Location.Suburb}}"></ion-input>
        </ion-item>
        <ion-item *ngIf="showLocationField('StateProvinceCode')">
          <ion-label fixed>{{'identity-verification-address.stateProvinceCode' | translate}}</ion-label>
          <ion-input disabled="true"
            value="{{verificationArgs.Location.StateProvinceCode}}"></ion-input>
        </ion-item>
        <ion-item *ngIf="showLocationField('PostalCode')">
          <ion-label fixed>{{'identity-verification-address.postalCode' | translate}}</ion-label>
          <ion-input disabled="true"
            value="{{verificationArgs.Location.PostalCode}}"></ion-input>
        </ion-item>
        <ion-item-divider light>{{"identity-verification-summary.additionaInfo" | translate}}</ion-item-divider>
        <ion-item-group *ngIf="verificationArgs.IdentificationType == 'Driver Licence'">
          <ion-item>
            <ion-label fixed>{{'identity-verification-document.driverLicenceNumber' | translate}}</ion-label>
            <ion-input disabled="true"
              value="{{verificationArgs.DriverLicence.Number}}"></ion-input>
          </ion-item>
        </ion-item-group>
        <ion-item-group *ngIf="verificationArgs.IdentificationType == 'National Id'">
          <ion-item>
            <ion-label fixed>{{'identity-verification-document.id' | translate}}</ion-label>
            <ion-input disabled="true"
              value="{{verificationArgs.NationalId.Number}}"></ion-input>
          </ion-item>
        </ion-item-group>
        <ion-item-group *ngIf="verificationArgs.IdentificationType == 'Passport'">
          <ion-item>
            <ion-label fixed>{{'identity-verification-document.passportNumber' | translate}}</ion-label>
            <ion-input disabled="true"
              value="{{verificationArgs.Passport.Number}}"></ion-input>
          </ion-item>
        </ion-item-group>
      </ion-list>
    </ion-card-content>
    <ion-item class="footer-card">
      <button item-right
        clear
        (click)=submit()>
            {{"identity-verification-summary.verifyMyInfo" | translate}}
            <ion-icon name="arrow-forward"></ion-icon>
          </button>
    </ion-item>
  </ion-card>
</ion-content>
