<ion-header>
    <ion-navbar>
        <ion-title>{{"phone-number.title" | translate}}</ion-title>
        <ion-buttons end>
          <button ion-button [disabled]="!phoneForm.valid" (click)="submit()">
              {{"done" | translate}}
          </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content>
    <p class="sub-heading">
        {{"phone-number.heading" | translate}}
    </p>
    <form [formGroup]="phoneForm" (ngSubmit)="phoneForm.valid && submit()">
        <ion-list class="list-border">
            <ion-item *ngIf="auth.authenticatedEmail" text-wrap>
                <ion-label>Verified Beta Program Email Address {{auth.authenticatedEmail}}</ion-label>
            </ion-item>
            <ion-item>
                <ion-label>{{selectedCountry.name}}</ion-label>
                <ion-select [(ngModel)]="selectedCountryCode" selectedText=" "
                    [ngModelOptions]="{standalone: true}"
                    (ionChange)="countrySelect($event)">
                    <ion-option value="{{country.countryCode}}"
                        *ngFor="let country of countries">
                        {{country.name}}
                        <span>{{country.telephoneCountryCode}}</span>
                    </ion-option>
                </ion-select>
            </ion-item>
            <ion-item class="item item-input input-item-data">
                <ion-input class="phone-country-code"
                    [value]="selectedCountry.telephoneCountryCode"> </ion-input>
                <ion-input
                    class="phone-input"
                    formControlName="phone"
                    placeholder="{{'phone-number.phoneNumber' | translate}}"
                    type="tel"></ion-input>
            </ion-item>
        </ion-list>
    </form>
</ion-content>
<ion-footer>

</ion-footer>
