<ion-header>
  <ion-navbar>
    <ion-title>{{"send.title" | translate}} {{auth.envMode()}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>


  <ion-grid class="gridSend">
    <ion-row class="rowBalance">
      <ion-col class="colLabel">{{"send.availableBalance" | translate}}
        <span class="colValue">{{availableBalance.toFormat(5)}}</span>
      </ion-col>
      <ion-col width-10 class="colUr">UR</ion-col>
    </ion-row>
    <ion-row class="rowBalance">
      <ion-col class="colLabel">{{"send.estimatedFee" | translate}}
        <span class="colValue"> {{estimatedFee.toFormat(5)}}</span>
      </ion-col>
      <ion-col width-10 class="colUr">UR</ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="colLabel">{{"send.maxAmount" | translate}}
        <span class="colValue">{{maxAmount.toFormat(5)}}</span>
      </ion-col>
      <ion-col width-10 class="colUr">UR</ion-col>
    </ion-row>
  </ion-grid>
<br />
<br />

  <form class="send-requestcontx" [formGroup]="mainForm" (ngSubmit)="mainForm.valid && sendUR()">
    <ion-item>
      <ion-label stacked>{{"send.sendTo" | translate}}</ion-label>
      <ion-input placeholder="{{'send.placeholderSentTo' | translate}}" *ngIf="!contact" (focus)="chooseContact()" formControlName="addressWallet"></ion-input>
      <ion-input *ngIf="contact" (focus)="chooseContact()" formControlName="contact"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>{{'send.enterAmount' | translate}}</ion-label>
      <ion-input placeholder="{{'send.placeholderAmount' | translate}}" formControlName="amount" type="number"></ion-input>
      <ion-note item-right> UR </ion-note>
    </ion-item>
    <ion-item>
      <ion-label stacked>{{'send.secretPhrase' | translate}}</ion-label>
      <ion-input placeholder="{{'send.placeholderPhrase' | translate}}" formControlName="secretPhrase" type="password"></ion-input>
    </ion-item>
    <br />
    <div class="validatorError" *ngIf="incorrectToField()">{{"send.incorrectAddress" | translate}}</div>
    <div class="validatorError" *ngIf="missingAmount()">{{"send.amountRequired" | translate}}</div>
    <div class="validatorError" *ngIf="numberOutOfRange()">{{"send.numberOutOfRange" | translate}}</div>
    <div class="validatorError" *ngIf="missingSecretPhrase()">{{"send.secretPhraseRequired" | translate}}</div>
    <div class="validatorError" *ngIf="incorrectSecretPhrase()">{{"send.incorrectSecretPhrase" | translate}}</div>
<br />
    <button ion-button round block class="send-requestbtn" type="submit" [disabled]="!mainForm.valid">{{"send.send" | translate}}</button>
  </form>
</ion-content>
