.send-page {
  .send-requestbtn {
    margin-top: 15px;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 300;
  }
}

.gridSend {
  background-color: color($colors, primary);
  font-size: 1.4rem;
}

.colLabel {
  color: color($colors, light)!important;
}

.rowBalance {
  padding-bottom: 2px;
  // border-bottom: 1px solid #dedede;
}

.colValue {
  padding-left: 16px;
  color: #fff;
  font-weight: bolder;

  .text-input[disabled] {
    opacity: 1;
  }
}

.colUr {
  color: color($colors, light) !important;
}

.inputDisabled {
  border: none;
  width: 50%;
  background-color: #eee;
}

.validatorError {
  padding-left: 15px;
  color: red;
  font-size: 1.3rem !important;
}
/*----------------------------------------------------------------------*/
.dash-send-view {
  background: rgba(58, 173, 226, 1) url("../assets/img/img-bg.png") no-repeat 0 0;
}

.dash-send-view .item-avatar {
  min-height: 52px;
  max-height: 52px;
}

.dash-send-view .item-avatar ion-img {
  max-width: 42px;
  max-height: 42px;
  border-radius: 50%;
}

.send-requestcont {
  margin-top: 5px;
  padding: 0 20px;
}

.send-requestcont .card {
  box-shadow: none;
  margin-top: 10px;
  margin-bottom: 10px;
}

.send-requestcont .send-requestinput {
  position: relative;
  height: 52px;
}

.send-requestcont .send-requestinput .item {
  height: 52px;
  padding-left: 16px;
}

.send-requestcont .send-requestinput input.contact-input {
  padding-left: 30px;
}

.send-requestcont .send-requestur input {
  height: 75px;
  font-size: 2rem;
  line-height: 1.1em;
  font-weight: 300;
  letter-spacing: 0.01em;
  width: 92%;
  border: none;
}

.disabled {
  background-color: #eee;
}

.amount::-webkit-input-placeholder {
  font-size: 1.7rem;
}

.send-requestcont .send-requestur .item-note {
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  position: absolute;
  bottom: 15px;
  right: 10px;
}

.send-requestcont .send-requestur .receiver-profile {
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  position: absolute;
  bottom: 15px;
  right: 10px;
}

.send-requestcont .send-requesttextarea .item.item-input {
  padding: 10px;
}

.send-requestcont .send-requesttextarea textarea {
  height: 80px;
  resize: none;
  line-height: 1.4em;
  width: 100%;
  border: none;
}

.send-requestcont .button.send-requestbtn {
  border-color: #fff;
  font-size: 26px;
  font-weight: 300;
  color: #ffffff;
  text-transform: uppercase;
  border-radius: 30px;
  line-height: 64px;
  margin-top: 18px;
  background-color: transparent;
}

.send-requestcont .send-requestinput .selected-contact-container {
  height: 100%;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 13px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}

.send-requestcont .selected-contact-container .contact-item {
  font-size: 11px;
  font-weight: 600;
  background-color: #f3f2f2;
  padding: 5px 10px;
  border-radius: 10px;
  vertical-align: middle;
  position: relative;
}

.send-requestcont .selected-contact-container .contact-item img {
  width: 17px;
  height: 17px;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 3px;
}

.send-requestcont .selected-contact-container .contact-item .contact-close {
  display: block;
  width: 10px;
  height: 10px;
  background: url("../assets/img/close-icon-10x10.png") no-repeat 0 0;
  position: absolute;
  top: -2px;
  right: -2px;
}
/*----------------------------------*/
.contacts-popup {
  margin-top: -10px;
  height: 205px;
  background-color: #ffffff;
  border: 1px solid #c4c4c4;
  overflow: auto;
}

.contacts-popup .list {
  margin-left: 10px;
  margin-right: 10px;
}

.contacts-popup .list .item {
  border-left-color: transparent;
  border-right-color: transparent;
  padding: 0;
  font-size: 12px;
  min-height: 28px;

  ion-label {
    margin: 0;
  }
}

.contacts-popup .list .item.padding-left {
  padding-left: 8px;
}

.contacts-popup .list .item-divider {
  text-align: center;
  background-color: transparent;
  padding-left: 0;
  padding-right: 0;
  overflow: visible;
  min-height: 34px;

  .item-inner {
    padding: 0;
  }

  ion-label {
    margin: 0;
  }
}

.contacts-popup .item-divider span {
  background-color: #efefef;
  border-radius: 5px;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 600;
  color: #777777;
  display: block;
  padding: 3px 0;
}

.contacts-popup .contacts-list .item.item-avatar {
  min-height: 30px;
  height: 30px;
  border-bottom: 1px solid #c4c4c4;

  ion-avatar {
    margin: 12px 16px 0 8px;
  }
}

.contacts-popup .item.item-avatar img {
  width: 25px;
  height: 25px;
  top: 4px;
  left: 5px;
}
