.identity-verification-intro {}

identity-verification-intro-page {
  .title-purchase {
    font-size: 1.6rem;
  }

  ion-card-header {
    background-color: color($colors, light);
  }

  ion-item {
    padding-left: 0px !important;
  }

  .footer-card {
    background-color: color($colors, light);
  }

  .slide-title {
    margin-top: 2.8rem;
    font-weight: bold;
  }

  .slide-image {
    width: inherit;;
    margin: auto;
    display: block;
  }
}
