.identity-verification-intro {}

identity-verification-intro-page {
  .title-purchase {
    font-size: 1.6rem;
  }

  ion-card-header {
    background-color: #f8f8f8;
    padding: 0;
  }

  ion-item {
    padding-left: 0;
  }

  .footer-card {
    background-color: #f8f8f8;
  }

  .slide-title {
    margin-top: 2.8rem;
    font-weight: bold;
  }

  .slide-image {
    width: 70%;
    margin: auto;
    display: block;
  }
}
