authentication-code-page {

  .sub-heading {
    font-size: 1.6rem;
    text-align: center;
    margin: 65px 6%;
  }

  .phone-number-authentication .unlock-keypad,
  .unlock-keypad {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .phone-number-authentication .unlock-keypad .row,
  .unlock-keypad .row {
    border-bottom: 1px solid rgba(196, 196, 196, 0.8);
  }

  .phone-number-authentication .unlock-keypad .row .col.col-33.mid-col,
  .unlock-keypad .row .col.col-33.mid-col {
    border-left: 1px solid rgba(196, 196, 196, 0.8);
    border-right: 1px solid rgba(196, 196, 196, 0.8);
  }

  .phone-number-authentication .unlock-keypad .pin-btn,
  .unlock-keypad .pin-btn {
    color: #323232;
  }

  .pin-input-container {
    text-align: center;
  }

  .pin-input-container .pin-input {
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 1px solid #ffffff;
    border-radius: 4px;
    margin: 0 2px;
    color: #ffffff;
    font-size: 17px;
    line-height: 40px;
    vertical-align: middle;
  }

  .unlock-keypad {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .unlock-keypad {
    background: #fff;
  }

  .unlock-keypad ion-row {
    border-bottom: 1px solid rgba(196, 196, 196, 0.8);
  }

  .unlock-keypad ion-row .col.col-33.mid-col {
    border-left: 1px solid rgba(196, 196, 196, 0.8);
    border-right: 1px solid rgba(196, 196, 196, 0.8);
  }

  .unlock-keypad .pin-btn {
    color: #5a5a5a;
    display: block;
    width: 100%;
    font-size: 28px;
    min-height: 40px;
    height: 40px;

    span {
      color: #444;
    }
  }
  /*------------------------------------------*/

  .authentication-code-container .pin-input-container {
    margin-bottom: 30px;
  }

  .authentication-code-container .pin-input {
    border-color: #e2e2e2;
    color: #323232;
  }

  .verify-btns {
    text-align: center;
  }

  .verify-btns .button {
    font-size: 1.2rem;
    background-color: #fff;
    border-radius: 10px;
    min-height: 34px;
    line-height: 34px;
  }

}
