.hidden {
  display: none!important;
}

.label-ios[stacked]{
  color:  color($colors, primary);
}

.centered-spinner {
  margin-left: auto !important;
  margin-right: auto !important;
  display: block !important;
  text-align: center;
}

.center-text {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.settings-page {}

.settings {
  .sign-out-button {
    margin-top: 50px;
  }
}
