profile-setup-page {
  ion-card-header {
    background-color: color($colors, light);
  }

  ion-item {
    padding-left: 0 !important;
  }

  .footer-card {
    background-color: color($colors, light);
  }

  .item-ios.item-input.input-has-focus .item-inner {
    border-bottom-color: color($colors, primary) !important;
  }

  .card-ios .item-ios.item-block .item-inner {
    border-bottom: 1px solid #dedede;
  }

  .card-md .item-md.item-block .item-inner {
    border-bottom: 1px solid #dedede;
  }

  .password input {
    text-transform: lowercase;
  }
}
