<div class="transaction-filter-top">
    <div class="filter-box"
        padding>
        <div class="filter-btns">
          <button ion-button clear class="button button-outline" (click)="filterTransactions('today')" [ngClass]="{'active':filterOption==='today'}">Today</button>
          <button ion-button clear class="button button-outline" (click)="filterTransactions('30')" [ngClass]="{'active':filterOption==='30'}">Last 30 days</button>
          <button ion-button clear class="button button-outline" (click)="filterTransactions('60')" [ngClass]="{'active':filterOption==='60'}">Last 60 days</button>
          <button ion-button clear class="button button-outline" (click)="filterTransactions('all')" [ngClass]="{'active':filterOption==='all'}">All time</button>
        </div>

        <div class="total-ur">
            {{selectedTransactionTypeTotal()}} {{selectedTransactionType()}}
        </div>
        <p class="last-update">
            <ion-icon name="ios-clock-outline"></ion-icon> Last updated: {{lastUpdated|timestamp}}
        </p>
        <div class="invite-and-earn" *ngIf="transactionType==='earned'">
                <p>Invite your friends and get more UR</p>
                <button ion-button (click)="invite()" class="button button-outline">Invite</button>
        </div>
    </div>
</div>
<div *ngIf="showSpinner">
    <ion-row>
        <ion-col text-center>
            <ion-spinner></ion-spinner>
        </ion-col>
    </ion-row>
</div>
<div class="transaction-list"
    *ngIf="!showSpinner">
    <div class="card"
        *ngIf="filteredTransactions.length ===0">
        <ion-item class="item">
            <p style="text-align: center;">No transactions yet</p>
        </ion-item>
    </div>
    <div class="card"
        *ngFor="let transaction of filteredTransactions">

        <ion-item class="item"
            text-wrap>
            <ion-avatar item-left>
                <img src="assets/img/icon.png">
            </ion-avatar>
            <h2>{{transaction.title}} <span class="item-date-time">{{transaction.updatedAt|dateAndTime}}</span></h2>
            <p>{{transaction.messageText}} <span *ngIf="showSeeMore"><a (click)="txtLimit = null; showSeeMore = !showSeeMore">See more</a></span>
              <span class="transaction-filter-{{transaction.type}}">{{displayableTransactionType(transaction.type)}}</span></p>
            <span class="icon trans-ur"
                item-right>{{weiToURString(transaction.amount || "0")}}<br/>  UR</span>
        </ion-item>
    </div>
    <ion-item text-center *ngIf="transactionType==='all' && filteredTransactions.length >= numberOfItemsToShow">
      <button ion-button clear (click)="loadTransactionsByType()">Load more... </button>
    </ion-item>
</div>
