<ion-content padding class="about about-us">
    <div class="ur-logo">
        <img src="img/ur-logo.png" alt="logo">
    </div>

    <div class="about-text">
        <h1 class="heading">UR Money App - Internal Version 0.4</h1>
        <div *ngIf="deviceType == 'ios'">
            <p>
                <a href="https://i.diawi.com/M3HnT6">Download and Install UR Money (iOS Version)</a>
            </p>
        </div>
        <div *ngIf="deviceType == 'android'">
            <p>
                <a href="https://i.diawi.com/PaCesj">Download and Install UR Money (Android Version)</a>
            </p>
        </div>
        <div *ngIf="deviceType == 'other'">
            <p>
                To install UR Money, please open the following link from within an iPhone, iPad or Android device:
                <a href="{{currentUrl}}">{{currentUrl}}</a>
            </p>
        </div>
    </div>
</ion-content>
