<ion-content class="address-book-modal-content" style="overflow:hidden">
    <h3 class="text-center">
        Use Address Book?
    </h3>
    <ion-alert  class="alert-cmp" >
        <div class="alert-wrapper" style="opacity: 1; transform: scale(1);">
            <div class="alert-head">
                <h2 class="alert-title" id="alert-hdr-0">"Cluster" would like to Access your Contacts</h2>
             
            </div>
            <div class="alert-message" id="alert-msg-0">
                <p></p>
                <p>This allows cluster to let you choose which friends to invite to shared photo albums.</p>
            </div>
          
            <div class="alert-button-group">
             <button category="alert-button" class="alert-button alert-button-default"><span class="button-inner">Don't Allow</span><ion-button-effect></ion-button-effect></button>
                <button category="alert-button" class="alert-button alert-button-default"><span class="button-inner">Ok</span>
                <ion-button-effect></ion-button-effect>
                </button>
            </div>
        </div>
    </ion-alert>
    <p class="text-center">
        Inviting friends is simple form when choosung them from the address book on your phone
    </p>
    <p class="text-center">
        Otherwise, you'll have to type the contant info individually
    </p>
    <button full primary>Use Address Book</button>
    <button full light>I'll Enter the Contact Infog</button>
</ion-content>