<ion-header>
  <ion-navbar>
    <ion-title>Edit User Info</ion-title>
    <ion-buttons end>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding
  #content
  class="settings">
  <form [formGroup]="mainForm">

    <ion-item-divider color="light">Profile Info</ion-item-divider>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>Name</ion-label>
            <ion-input
              type="text"
              [(ngModel)]="user.name"
              formControlName="name">
            </ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label>Email</ion-label>
            <ion-input type="text"
              [(ngModel)]="user.email"
              formControlName="email"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>Country</ion-label>
            <ion-input
              type="text"
              [(ngModel)]="user.country"
              formControlName="country">
            </ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label>Phone</ion-label>
            <ion-input type="text"
              [(ngModel)]="user.phone"
              formControlName="phone"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>Prefinery IP Address</ion-label>
            <ion-input type="text"
              [(ngModel)]="user.ipAddress"
              formControlName="ipAddress">
            </ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label>Downline Size</ion-label>
            <ion-input type="text"
              [(ngModel)]="user.downlineSize"
              formControlName="downlineSize"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-item-divider color="light">Account Info</ion-item-divider>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>Move Requested</ion-label>
            <ion-checkbox color="danger" checked="{{user.moveRequested}}" (ionChange)="toggle('moveRequested')"></ion-checkbox>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label>Disabled</ion-label>
            <ion-checkbox color="danger" checked="{{user.disabled}}" (ionChange)="toggle('disabled')"></ion-checkbox>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label>Fraud Suspected</ion-label>
            <ion-checkbox color="danger" checked="{{user.fraudSuspected}}" (ionChange)="toggle('fraudSuspected')"></ion-checkbox>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label>Duplicate</ion-label>
            <ion-checkbox color="danger" checked="{{user.duplicate}}" (ionChange)="toggle('duplicate')"></ion-checkbox>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>Status</ion-label>
            <ion-input
              type="text"
              [(ngModel)]="user.status"
              [ngModelOptions]="{standalone: true}">
            </ion-input>
            <button ion-button type="button" color="danger" item-right [disabled]="!identityManuallyVerifiable()" (click)="manuallyVerifyIdentity()">Manually Verify Identity</button>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label>User Id</ion-label>
            <ion-input
              type="text"
              [(ngModel)]="user.userId"
              [ngModelOptions]="{standalone: true}">
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-item-divider *ngIf="sponsor" color="light">Sponsor Info</ion-item-divider>
      <ion-row *ngIf="sponsor">
        <ion-col>
          <ion-item>
            <ion-label>
              Sponsor Name
            </ion-label>
            <ion-input
              type="text"
              [(ngModel)]="sponsor.name"
              formControlName="sponsorName">
            </ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label>
              Sponsor Contact
            </ion-label>
            <ion-input
              type="text"
              [(ngModel)]="sponsor.contact"
              formControlName="sponsorContact">
            </ion-input>
          </ion-item>
        </ion-col>
        <ion-col width-20>
          <ion-item>
            <ion-label></ion-label>
            <button ion-button type="button" color="secondary" item-right (click)="goToUserPage(sponsor)">View</button>
            <button ion-button type="button" color="danger" item-right [disabled]="!sponsorChangeable()" (click)="changeSponsor($event)">Change</button>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-item-divider color="light">Direct Referrals ({{showSpinner ? 'Please wait...' : referrals.length}})</ion-item-divider>
    <ion-item>
      <ion-list class="users-list" *ngIf="!showSpinner">
        <ion-item detail-none *ngFor="let r of referrals" (click)="goToUserPage(r)" class="item item-avatar">
          <ion-avatar item-left> <ion-img [src]="r.profilePhotoUrl"></ion-img></ion-avatar>
          <ion-label>
            <h3>{{r.name}} (Downline: {{r.downlineSize}})</h3>
            <p>{{r.phone}} {{r.email}} {{country(r)}}</p>
            <p>{{r.moveRequestedTag}} {{r.disabledTag}} {{r.fraudSuspectedTag}} {{r.duplicateTag}}</p>
          </ion-label>
          <button ion-button type="button" color="secondary" item-right>View</button>
        </ion-item>

        <ion-item detail-none *ngIf="referrals.length === 0" class="item item-avatar">
          No Direct Referrals
        </ion-item>

      </ion-list>
    </ion-item>

  </form>
</ion-content>
