<ion-header>
    <ion-navbar>
      <ion-title>Search Users {{auth.envMode()}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="users">
  <form (ngSubmit)="searchUsers()">
    <ion-list>
      <ion-item>
        <ion-label>Search by:</ion-label>
        <ion-select [(ngModel)]="searchType" [ngModelOptions]="{standalone: true}" class="search-field">
          <ion-option [value]="t" *ngFor="let t of searchTypes">
            {{t}}
          </ion-option>
        </ion-select>
        <ion-input type="text" [(ngModel)]="searchText" [ngModelOptions]="{standalone: true}" class="search-field"></ion-input>
        <button ion-button icon-right item-right clear [disabled]="!searchText">
          Search
          <ion-icon name="arrow-forward"></ion-icon>
        </button>
      </ion-item>
      <div *ngIf="showSpinner">
          <ion-row>
              <ion-col text-center>
                  <ion-spinner></ion-spinner>
              </ion-col>
          </ion-row>
      </div>
    </ion-list>
  </form>

  <ion-list class="users-list" *ngIf="!showSpinner">
    <ion-item detail-none *ngFor="let r of displayableUsers" (click)="goToUserPage(r)" class="item item-avatar">
      <ion-avatar item-left> <ion-img [src]="r.profilePhotoUrl"></ion-img></ion-avatar>
      <ion-label>
        <h3>{{r.name}} (Downline: {{r.downlineSize}})</h3>
        <p>{{r.phone}} {{r.email}} {{country(r)}}</p>
        </ion-label>
      <button ion-button type="button" color="secondary" item-right>View</button>
    </ion-item>

    <ion-item detail-none *ngIf="displayableUsers.length === 0" class="item item-avatar">
      No Users Found
    </ion-item>

    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more contacts..."></ion-infinite-scroll-content>
    </ion-infinite-scroll>

  </ion-list>

</ion-content>
