page-sign-up {
  .sub-heading {
    font-size: 1.6rem;
    text-align: center;
    margin: 45px 6%;
  }

  .phone-content {
    display: inherit;
    width: 100%;
  }

  .countryCode {
    padding-right: 16px;
    padding-top: 8px;
  }

  .terms {
    padding-top: 40px;
    font-size: 1.1rem;
    color: #323232;
  }

  .headingType {
    font-size: 1rem;
  }
}
