<ion-header>
	<ion-navbar>
	</ion-navbar>
</ion-header>
<ion-content class="main-splash" scroll="false">
	<div class="ur-logo">
		<img src="assets/img/ur-logo.png" alt="logo">
		<img src="assets/img/ur-slogan.png" alt="logo">
	</div>
	<div class="welcome-ur">
		<form [formGroup]="mainForm" >
			<ion-list>
				<ion-item>
					<ion-select formControlName="country" (ionChange)="onChangeCountry()">
						<ion-option [value]="c" *ngFor="let c of countries">{{c.name}}</ion-option>
					</ion-select>
				</ion-item>
				<ion-item *ngIf="!countryValid">
					<div class="countryNotAllowed">
						We are improving the UR network in your country, and we can't currently accept new signups. Please try again soon.
					</div>
				</ion-item>
				<ion-item>
					<div item-content class="phone-content">
						<span class="countryCode">{{mainForm.value.country.telephoneCountryCode}}</span>
						<ion-input formControlName="phone" placeholder="Enter your phone number" type="tel"></ion-input>
					</div>
				</ion-item>
				<ion-item>
					<ion-label stacked color="primary">Password</ion-label>
					<ion-input type="password" formControlName="password" placeholder='At least 6 characters'></ion-input>
				</ion-item>
				<ion-item>
					<ion-label stacked color="primary">Password confirmation</ion-label>
					<ion-input type="password" formControlName="passwordConfirmation" placeholder='At least 6 characters'></ion-input>
				</ion-item>
				<ion-item *ngIf="signUpType=='sponsorReferralCode'">
					<ion-label stacked color="primary">Sponsor's referral code</ion-label>
					<ion-input type="text" formControlName="sponsorReferralCode" placeholder="Enter your sponsor's referral code"></ion-input>
					<button ion-button outline round type="text" item-right class="buttonInfo" (click)="showSponsorReferralCodeExplanation()"><ion-icon name="help"></ion-icon></button>
				</ion-item>

				<p class="terms" text-center>
				Click \"Agree & Continue\" to accept the UR Technology <a class="terms-btn" (click)="openTermsAndConditions()">Terms and Service Agreement </a>
				</p>
				<div text-center>
					<button ion-button round (click)="submit()" [disabled]="!mainForm.valid || !countryValid">Agree & Continue</button>
				</div>
			</ion-list>
		</form>
	</div>
</ion-content>
<ion-footer>

</ion-footer>
