<ion-content class="contacts">
  <ion-searchbar  (ionInput)="filterItems($event)" placeholder='{{"search" | translate}}'>
  </ion-searchbar>
  <div *ngIf="showSpinner">
      <ion-row>
          <ion-col text-center>
              <ion-spinner></ion-spinner>
          </ion-col>
      </ion-row>
  </div>
  <ion-list class="contacts-list" *ngIf="!showSpinner">
    <ion-item  detail-none *ngFor="let contact of displayableContacts" (click)="contactSelected(contact)" class="item item-avatar">
      <ion-avatar item-left> <ion-img [src]="contact.profilePhotoUrl"></ion-img></ion-avatar>
      <h2>{{contact.name}}</h2>
      <p>{{contact.formattedPhone}} <span>{{contact.phoneType}}</span></p>
      <button ion-button [hidden]="contact.userId" color="secondary" item-right>{{"contacts.invite" | translate}}</button>
      <button ion-button [hidden]="!contact.userId" color="primary" item-right>{{memberActionLabel}}</button>
    </ion-item>

    <ion-item text-wrap detail-none (click)="inviteFriend()" class="item item-avatar" *ngIf="goal == 'chat'">
      <ion-avatar item-right><ion-icon name="add-person-icon"></ion-icon></ion-avatar>
      <p>{{getInviteItemMessage()}}</p>
    </ion-item>

    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more contacts..."></ion-infinite-scroll-content>
    </ion-infinite-scroll>

  </ion-list>

</ion-content>
