.ur-menu {
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#e05151', endColorstr='#e87670', GradientType=0);
}

.contacts {
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#61a468', endColorstr='#7ca57d', GradientType=0);
}
.about-page .about-us{
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f1f1', endColorstr='#c4cace', GradientType=1 );
}

.main-splash{
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f1f1', endColorstr='#c4cace', GradientType=1 );
}
.splash-slide .slider{
      filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f1f1f1', endColorstr='#c4cace', GradientType=1);
}
